.moduleMenu
	#accordion
		%h3
			%a{ :href => "#" } Invoices
		%div
			Invoices Submenus
		%h3
			%a{ :href => "#" } Payments
		%div
			Payment Submenus
		%h3
			%a{ :href => "#" } Configurations
		%div
			Conf menus