#header
	#companyLogo
	#globalLinks
		%ul
			%li Help
			%li
				%span
					|
				About
	- if user_signed_in?
		#welcome
			Welcome,
			%strong
				= current_user.username
			[
			= link_to "Log out", destroy_user_session_path, :method => :delete
			]
	.clear
	#topMenu
		#moduleList
			%ul
				%li
					%span Sales
				%li
					%span Projects
				%li
					%span Human Resources
				%li
					%a{ :href => accounting_dashboard_path }
						%span Accounting
				%li
					%span Administration
		.clear
	.line